### Q1. What is a database? Differentiate between SQL and NoSQL databases.

- Database is an organized collection of structured information, or data, stored in a computer system.
---
- SQL databases are relational databases. Data in a relational database are organized as a set of tables with columns and rows. 
- Relational database provides the most efficient way to access structured information.
- Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc
---
- NoSQL databases are nonrelational database. They allow unstructured and semi-structured data to be stored and manipulated. 
- Data is stored in many ways like it can be document-oriented, column-oriented, graph-based, or organized as a key-value store.
- Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

- DDL:
    - Data Definition Language consists of the SQL commands that can be used to define the database schema.
    - It deals with descriptions of the database schema and is used to create and modify the structure of database in the database.
    - DDL is a set of SQL commands used to create, modify, and delete database structures but not data.
---
- CREATE: 
    - This command is used to create the database or its objects like table, index, function, views, store procedure, and triggers.
---
- DROP:
    - This command is used to delete a whole database or a table from the database.
---
- ALTER:
    - This is used to alter the structure of the database.
---
- TRUNCATE:
    - This is used to remove all records from a table, including all spaces allocated for the records are removed.

In [ ]:
// CREATE
CREATE TABLE IF NOT EXISTS Skills.Employee(
    EmpId INT,
    EmpName VARCHAR(30),
    Age INT
);

// ALTER
ALTER TABLE Skills.Employee ADD EmpFirstName VARCHAR(30);

ALTER TABLE Skills.Employee MODIFY COLUMN EmpName VARCHAR(50);

ALTER TABLE Skills.Employee DROP COLUMN EmpName;

// TRUNCATE
TRUNCATE TABLE Skills.Employee;

// DROP
DROP TABLE Skills.Employee;

DROP DATABASE Skills;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

- DML:
    - Data Manipulation Language consists of the SQL commands that can be used to manipulate the data present in database.
    - DML is a set of SQL commands used to insert, update or delete the data in the database.
---
- INSERT: 
    - This command is used to insert data in database.
---
- UPDATE:
    - This command is used to update data in the database.
---
- DELETE:
    - This command is used to delete data from the database.

In [ ]:
//INSERT
INSERT INTO Skills.Employee VALUES( 1,'Pras',25 );

// UPDATE
UPDATE Skills.Employee SET EmpName = 'Prashant' WHERE EmpId = 1;

// DELETE
DELETE FROM Skills.Employee WHERE EmpId = 1;

Q4. What is DQL? Explain SELECT with an example.

- DQL:
    - Data Query Language consists of the SQL commands that can be used to query the data present in database.
    - It includes SELECT Statement.
---
- SELECT: 
    - This command is used to retrieve data from the database.

In [ ]:
// SELECT

SELECT * FROM Skills.Employee;

SELECT EmpId, EmpName FROM Skills.Employee;

Q5. Explain Primary Key and Foreign Key.

- Primary Key
    - A Primary key is a key through which we can uniquely identify each record in a table.
    - It is a unique key.
    - It can identify only one record at a time.
    - It has no duplicate values.
    - It cannot be NULL.
    - More than one column can also be a primary key for a table.
---
- Foreign Key
    - A Foreign key is a key used to link two tables together.
    - A Foreign key is a field in one table that refers to the PRIMARY KEY in another table.
    - More than one column can also be a foreign key for a table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

- Cursor:
    - The cursor() method returns a MySQLCursor() object.
    - The MySQLCursor class instantiates objects that can execute operations such as SQL statements. Cursor objects interact with the MySQL server using a MySQLConnection object.

- Execute:
    - The execute() method executes the given database operation like a query or command.

In [ ]:
import mysql.connector

cnx = mysql.connector.connect(user='scott', password='password',
                              host='127.0.0.1',
                              database='employees')
cnx.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

|Order|Clause|
|-|-|
|1|FROM|
|2|WHERE|
|3|GROUP BY|
|4|HAVING|
|5|SELECT|
|6|ORDER BY|
|7|LIMIT|