# Tuples Set and Dictionary assignment

## Q1. What are the characteristics of the tuples? Is tuple immutable?

In [1]:
t = (1,2,3,4)

In [2]:
type(t)

tuple

In [3]:
t[0] = 999

TypeError: 'tuple' object does not support item assignment

In [6]:
t[0]

1

In [8]:
t = (1,1,2,2,3,3)
t

(1, 1, 2, 2, 3, 3)

### Ans: The charactersistic of Tuple are as follows:
1. Tuple is defined by using round braces "()".
2. Tuple items are indexed.
3. Tuples are ordered. 
4. Tuples can contain dupicate items.

Tuple is immutable.

## Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

In [11]:
t = (1,2,3,4,5,1)
t

(1, 2, 3, 4, 5, 1)

In [16]:
# Gives occurance of the value
print(t.count(1))
print(t.count(4))

2
1

In [18]:
# Return first index of value
print(t.index(1))
print(t.index(4))

0
3

### Ans: The two tuples methods in python are:
1. Count
2. Index

As Tuples are immutable they have only two methods compared to List.

## Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

### Ans: Set type of collection do not allow duplicate items

In [25]:
lst1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
lst1

[1,
 1,
 1,
 2,
 1,
 3,
 1,
 4,
 2,
 1,
 2,
 2,
 2,
 3,
 2,
 4,
 3,
 1,
 3,
 2,
 3,
 3,
 3,
 4,
 4,
 1,
 4,
 2,
 4,
 3,
 4,
 4]

In [26]:
set1 = set(lst1) 
set1

{1, 2, 3, 4}

In [27]:
type(set1)

set

## Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

In [37]:
# Uninon Method example
whole_numbers = {0,1,2,3,4,5,6,7,8,9,10}
even_numbers = {2,4,6,8,10,12,14,16,18,20}

print(type(whole_numbers))
print(type(even_numbers))

<class 'set'>
<class 'set'>

In [38]:
even_numbers.union(whole_numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20}

In [39]:
whole_numbers.union(even_numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20}

In [42]:
# Update Method example
whole_numbers.update(even_numbers)
whole_numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20}

### Ans: 
- Union - this method will return a union of the sets given as input. 
- Update - this method will update itself with the uninon of the given inputs.

## Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

In [45]:
animals_sound = {"dog": "bark","cat": "meow","duck": "quack"}
animals_sound

{'dog': 'bark', 'cat': 'meow', 'duck': 'quack'}

In [46]:
type(animals_sound)

dict

In [48]:
animals_sound[0]

KeyError: 0

In [49]:
animals_sound["dog"]

'bark'

In [50]:
animals_sound["duck"]

'quack'

### Ans: 
- Dictionary is an collection which stores data in key and value pairs.
- Dictionary are ordered. But we cannot refer to its items using index. We will need to use keys instead.

## Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

In [52]:
animals = {"dog": {"name": "Bruno","sound": "bark"},"cat": {"name": "Snowbell","sound": "meow"}}
animals

{'dog': {'name': 'Bruno', 'sound': 'bark'},
 'cat': {'name': 'Snowbell', 'sound': 'meow'}}

In [53]:
type(animals)

dict

In [54]:
animals["dog"]

{'name': 'Bruno', 'sound': 'bark'}

### Ans: 
- Yes we can create nested dictionary

## Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learning’, 'Deep Learning'] dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [56]:
### Ans:

dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1

{'language': 'Python', 'course': 'Data Science Masters'}

In [59]:
lst1 = ['Python', 'Machine Learning', 'Deep Learning']
lst1

['Python', 'Machine Learning', 'Deep Learning']

In [61]:
dict1.setdefault("topics", lst1)

['Python', 'Machine Learning', 'Deep Learning']

In [62]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

## Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary. 
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [64]:
dict1 =  {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [65]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [66]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [67]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

### Ans:
- The 3 view objects in dictionaries are keys, values, items.