## Loops

In [3]:
age = 27
print("my age is: ",age)

my age is:  27

In [4]:
# F string
print(f"my age is {age}")

my age is 27

In [6]:
# Format()

name = "Prashant"
age = 27

print("My name is {} and age is {}".format(name,age))

My name is Prashant and age is 27

In [9]:
# Place holder
print("My name is {firstname} and age is {age_number}".format(firstname=name,age_number=age))

My name is Prashant and age is 27

## Control Flow
### Decision Making Statements
    1. if
    2. if else
    3. if elif else
    4. Nested if
    5. Single statement Suites

In [16]:
# If statements
age = 121

age = int(input("Enter your Age: "))
if age >= 18:
    print("You are eligible to vote")

Enter your Age:  12

In [20]:
# Task
# if age between 18 and 45 diaplay a message you are young blood

age = int(input("Enter your Age: "))

# logic
if age >= 18 and age <= 45:
    print("YOu are young Blood")
else:
    print("Thank you. We will let you know")

Enter your Age:  56

Thank you. We will let you know

In [2]:
# Task
# Product greater than 1000 then you will get 20% discount
# display product price
# Product lower than 1000 then you will get 30% discount
# display product price

mrp = int(input("Enter the price (MRP) pf the Product: "))

# Logic
if mrp <= 1000:
    discounted_price = mrp - (mrp * 0.2)
    print("The Discounted price is: {}".format(discounted_price))
else:
    discounted_price = mrp - (mrp * 0.3)
    print("The discounted price is: {}".format(discounted_price))

Enter the price (MRP) pf the Product:  1200

The discounted price is: 840.0

In [6]:
# Task
# Product greater than 3000 then you will get 20% discount
# display product price
# Product greater than or equal to 2000  and leass than or equal to 3000 then you will get 30% discount
# display product price
# Product less than 1000 and leass than or equal to 2000  then you will get 40% discount
# display product price

mrp = int(input("Enter the price (MRP) pf the Product: "))

# Logic
if mrp > 3000:
    print("The Discounted price is: {}".format(mrp - (mrp * 0.2)))
elif mrp >= 2000 and mrp <= 3000:
    print("The Discounted price is: {}".format(mrp - (mrp * 0.3)))
elif mrp >= 1000 and mrp <2000:
    print("The Discounted price is: {}".format(mrp - (mrp * 0.4)))
else:
    print("Sorry no discount applied ğŸ˜¢")

Enter the price (MRP) pf the Product:  222

Sorry no discount applied ğŸ˜¢

# Loop Statements
1. While
2. For
3. Nested Loops
4. Loop control (Break, Continue, Pass)

In [10]:
# While loop

joining_age = 25
retirmen_age = 58

while joining_age <=58:
    print(joining_age)
    joining_age = joining_age+5
else:
    print("Sorry it's time to retire")

25
30
35
40
45
50
55
Sorry it's time to retire

In [16]:
# For loop

name_list = ["Prashant","Pluto","Curiosity","Nebula","Planet-X"]
type(name_list)

list

In [17]:
for item in name_list:
    print(item)

Prashant
Pluto
Curiosity
Nebula
Planet-X

In [18]:
for item in iter(name_list):
    print(item)

Prashant
Pluto
Curiosity
Nebula
Planet-X

In [24]:
# Nested Loops

n = 6

for i in range(1,6):
    print("*")

*
*
*
*
*

In [25]:
for i in range(1,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

**
***
****
*****
******

In [41]:
# Task
# Display pyramid of stars 
#    *
#   ***
#  *****

num = 9

for i in range(1,num):
    space = " "
    for j in range(0,i):
        print("*" * j,end="")
    print("\r")

*
***
******
**********
***************
*********************
****************************

In [4]:
# Loop controls
# Break and Continue

fruit_list = ["Mango","Apple","Banana","Jackfruit","Papaya"]

# Logic
for i in fruit_list:
    if i == "Banana":
        print("The fruit is:",i)
        break
    print(i)

Mango
Apple
The fruit is: Banana

In [5]:
# Pass - does nothing

for i in fruit_list:
    if i == "Banana":
        print("The fruit is:",i)
        pass
    print(i)

Mango
Apple
The fruit is: Banana
Banana
Jackfruit
Papaya

In [6]:
# continue - skips one step

for i in fruit_list:
    if i == "Banana":
        print("The fruit is:",i)
        continue
    print(i)

Mango
Apple
The fruit is: Banana
Jackfruit
Papaya