Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

## Q1. Write a code to print the data present in the second row of the dataframe, df.

In [4]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

- loc()
    - loc() function is a label based data selecting method which means that we have to pass the name of the row or column which we want to select.
    - This method includes the last element of the range passed in it.

---
- iloc()
    - iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. 
    - This method does not include the last element of the range passed in it unlike loc(). 
    - iloc() does not accept the boolean data unlike loc().

## Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [6]:
reindex = [3,0,1,2]

new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [7]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [8]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

## Q4. Write a code to find the following statistical measurements for the above dataframe df1:
1. mean of each and every column present in the dataframe.
2. standard deviation of column, ‘column_2’

In [9]:
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.122252  0.138511  0.392474  0.176538  0.911362  0.870656
2  0.779213  0.516175  0.416061  0.107033  0.836973  0.216535
3  0.467683  0.578323  0.475658  0.561929  0.900346  0.217032
4  0.008795  0.254287  0.607453  0.312943  0.701879  0.776791
5  0.920100  0.551782  0.109494  0.200965  0.346667  0.343175
6  0.742763  0.361299  0.643115  0.767746  0.402923  0.636982

In [12]:
mean_list = df1.mean()
mean_list

column_1    0.506801
column_2    0.400063
column_3    0.440709
column_4    0.354526
column_5    0.683358
column_6    0.510195
dtype: float64

In [14]:
df1['column_2'].std()

0.17857197911420827

## Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
- If you are getting errors in executing it then explain why.
- [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [15]:
df1['column_2'].iloc[1] = "Sample-Text"
df1

   column_1     column_2  column_3  column_4  column_5  column_6
1  0.122252     0.138511  0.392474  0.176538  0.911362  0.870656
2  0.779213  Sample-Text  0.416061  0.107033  0.836973  0.216535
3  0.467683     0.578323  0.475658  0.561929  0.900346  0.217032
4  0.008795     0.254287  0.607453  0.312943  0.701879  0.776791
5  0.920100     0.551782  0.109494  0.200965  0.346667  0.343175
6  0.742763     0.361299  0.643115  0.767746  0.402923  0.636982

In [16]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

- We are getting erros because one of the data in "column_2" is of categorical type due to which a mean operation cannot be performed.

## Q6. What do you understand about the windows function in pandas and list the types of windows functions?

- Windows functions
    - Widows functions are operation that performs an aggregation over a sliding partition of values. 
    - Window functions allow us to perform an operation with a given row’s data and data from another row that is a specified number of rows away — this “number of rows away value” is called the window.
    ---

- Types of Windows functions:
    1. Rolling window: Generic fixed or variable sliding window over the values.
    2. Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.
    3. Expanding window: Accumulating window over the values.
    4. Exponentially Weighted window: Accumulating and exponentially weighted window over the values.

## Q7. Write a code to print only the current month and year at the time of answering this question.
- [Hint: Use pandas.datetime function]

In [24]:
pd.DatetimeIndex()

TypeError: DatetimeIndex(...) must be called with a collection of some kind, None was passed

In [ ]:
pd.