### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]

df = pd.Series(data)
print(type(df))
df

<class 'pandas.core.series.Series'>

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
data = [12, 254, 867, 2353, 5487, 4, 8, 15, 16, 23, 42]

df = pd.Series(data)
print(type(df))
df

<class 'pandas.core.series.Series'>

0       12
1      254
2      867
3     2353
4     5487
5        4
6        8
7       15
8       16
9       23
10      42
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:

|Name|Age|Gender|
|-|-|-|
|Alice|25|Female|
|Bob|30|Male|
|Claire|27|Female|

Then, print the DataFrame.

In [10]:
names = ["Alice", "Bob", "Claire"]
ages = [25, 30, 27]
genders = ["Female", "Male", "Female"]

df = pd.DataFrame({"Name": names, "Age": ages, "Gender": genders})
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

- DataFrame
    - It is a two-dimensional data structure with columns and rows whose size can be changed. 
    - It can also be thought of as a collection of two or more series with common indices.
    - Pandas Series is One-dimensional whereas DataFrame is two-dimensional.
    - Series can hold only homogenous data type, whereas DataFrame holds heterogenous data types.
    - For Series the size of a Series object cannot be changed.
    - For DataFrame elements can be dropped or added in an existing DataFrame.

In [12]:
data = range(10)
series = pd.Series(data=data)
print(type(series))
series

<class 'pandas.core.series.Series'>

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [14]:
data = {
    "Col-1": pd.Series(range(10,20)),
    "Col-2": pd.Series(range(10))
}
df = pd.DataFrame(data=data)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

   Col-1  Col-2
0     10      0
1     11      1
2     12      2
3     13      3
4     14      4
5     15      5
6     16      6
7     17      7
8     18      8
9     19      9

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

- Common Functions in Pandas
    - rename() - used to rename a column
    - drop() - Either to drop columns or rows. For rows the axis should be 0.
    -  select_dtypes() - Select columns with specific data types.
    - iloc[] - Slicing the dataset.
    - drop_duplicates() - Handle duplicates in Dataset.
    - groupby() - Groups the values of the column.
    - replace() - Replaces the values in DataFrame.

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

- All Pandas data structures like Series, DataFrame and Panel are value mutable, and except Series all are size mutable. Series is size immutable.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [16]:
data = {
    "Col-1": pd.Series(range(10,20)),
    "Col-2": pd.Series(range(10)),
    "Col-3": pd.Series(range(100,110))
}
df = pd.DataFrame(data=data)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

Col-1     10
Col-2      0
Col-3    100
Name: 0, dtype: int64