1. Measure of central tendency

In [1]:
## Mean - Average

age = [12,13,14,21,24]

In [2]:
(12+13+14+21+24)/5

16.8

In [3]:
import numpy as np

np.mean(age)

16.8

In [4]:
weight = [45,67,45,23,76,12,67,88,94]

In [5]:
np.mean(weight)

57.44444444444444

In [6]:
weight = [45,67,45,23,76,12,67,88,94,1000]

np.mean(weight)

151.7

In [7]:
np.median(weight)

67.0

In [8]:
## Mode - Frequency

from scipy import stats

stats.mode(weight)

ModeResult(mode=45, count=2)

2. Measure of Dispersion

In [9]:
## Variance

age_list = [23,43,23,56,74,32,68,98,45,32]

In [10]:
import numpy as np

In [11]:
np.mean(age_list)

49.4

In [12]:
np.var(age_list)

541.64

In [13]:
np.std(age_list)

23.273160507331188

In [14]:
import pandas as pd

In [15]:
data = [[10,12,13],[34,23,45],[32,34,21]]

In [18]:
df =pd.DataFrame(data=data, columns=["A","B","C"])

In [19]:
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [20]:
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [21]:
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64

# Covariance and Correlation

In [1]:
import seaborn as sns

In [4]:
df = sns.load_dataset('healthexp')

In [5]:
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [6]:
# Covariance

import numpy as np

In [9]:
df.cov(numeric_only=True)

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [12]:
# Spearman Rank Correlation
df.corr(numeric_only=True, method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [13]:
# Pearson Correlation
df.corr(numeric_only=True, method='pearson')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [14]:
df = sns.load_dataset('penguins')

In [15]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [16]:
df.cov(numeric_only=True)

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,29.807054,-2.534234,50.375765,2605.591912
bill_depth_mm,-2.534234,3.899808,-16.212950,-747.370093
flipper_length_mm,50.375765,-16.212950,197.731792,9824.416062
body_mass_g,2605.591912,-747.370093,9824.416062,643131.077327